Pods/Realm/*
/Pods/Realm/*
Pods/RealmSwift/*
/Pods/RealmSwift/*
Pods/Target Support Files/*
/Pods/Target Support Files/*
Pods/SwipeCellKit/*
/Pods/SwipeCellKit/*
Pods/ChameleonFramework/*
/Pods/ChameleonFramework/*
